@model CameraTrackerApp.Models.Camera

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Camera</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CameraName" class="control-label"></label>
                <input asp-for="CameraName" class="form-control" />
                <span asp-validation-for="CameraName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CameraType" class="control-label"></label>
                <select asp-for="CameraType" class="form-control" asp-items="@Html.GetEnumSelectList<Camera.Type>()" ></select>
                <span asp-validation-for="CameraType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Longitude" class="control-label"></label>
                <input asp-for="Longitude" class="form-control" />
                <span asp-validation-for="Longitude" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Latitude" class="control-label"></label>
                <input asp-for="Latitude" class="form-control" />
                <span asp-validation-for="Latitude" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HangingLocation" class="control-label"></label>
                <select asp-for="HangingLocation" class="form-control" asp-items="@Html.GetEnumSelectList<Camera.Location>()"></select>
                <span asp-validation-for="HangingLocation" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="PublicAimed" /> @Html.DisplayNameFor(model => model.PublicAimed)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="PrivateAimed" /> @Html.DisplayNameFor(model => model.PrivateAimed)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
