@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the CameraTrackerApp!</h1>
    <p>Click on the tab "Cameras" to register your newly found cameras in your area.</p>
</div>
